<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-xs-12 col-sm-9">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
    <div class="jumbotron">
      <h1>Hello, world!</h1>
      <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
    </div>
    <div class="row">
      
      <% @books.each do |book| %>
      
      <div class="col-6 col-sm-6 col-lg-4 text-center">
        <h2><%= book.title %></h2>
        <img src="http://placehold.it/150x150"> 
        <p><%= book.author %></p>
        <p><%= book.price %></p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div><!--/span-->
      
      <% end %>
      
    </div><!--/row-->
  </div><!--/span-->

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="list-group">
      <a href="#" class="list-group-item active">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
      <a href="#" class="list-group-item">Link</a>
    </div>
  </div><!--/span-->
</div><!--/row-->

<hr>